<app-navigation></app-navigation>
<!-- create-form.component.html -->
<div class="container">
  <br><br>
  <form [formGroup]="form">
    <mat-grid-list cols="3" rowHeight="150px" rowWidth="100%">
      <mat-grid-tile *ngFor="let field of formFields; let i = index">
        <div>
          <mat-form-field>
            <mat-label>Nombre del Campo:</mat-label>
            <input
              matInput
              id="fieldName"
              type="text"
              [formControlName]="field.name"
              placeholder="Ingrese un nombre para el campo"
            />
          </mat-form-field>
          <label>{{ field.label }}</label>
          <div [ngSwitch]="field.type">
            <mat-form-field *ngSwitchCase="'text'">
              <input
                matInput
                [formControlName]="field.name"
                placeholder="Ingrese un valor"
              />
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'select'">
              <mat-label>{{ field.label }}</mat-label>
              <mat-select [formControlName]="field.name">
                <mat-option
                  *ngFor="let option of field.options"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field
              class="example-full-width"
              *ngSwitchCase="'textarea'"
            >
              <mat-label>{{ field.label }}</mat-label>
              <textarea
                [formControlName]="field.name"
                matInput
                placeholder="Ex. It makes me feel..."
              ></textarea>
            </mat-form-field>
          </div>
          <button mat-button (click)="removeField(i)">Eliminar</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="addField()">
        Agregar Campo de Texto
      </button>
      <button mat-raised-button color="accent" (click)="addSelectField()">
        Agregar Campo de Selección
      </button>
      <button mat-raised-button color="warn" (click)="addTextAreaField()">
        Agregar Campo Text area
      </button>
    </div>
  </form>
</div>
